// CTA
.cta#sectionCTA
  .container
    .cta__wrapper  
      .b-title.b-title--purple Давайте общаться
      .cta__form
        form(action='').js-validateCta
          input(type='tel' name='phone' placeholder='+ 7 ___ ')
          button(type='submit').btn.btn--primary.btn--white
            span Подробнее о sancom
        .cta__form__contacts
          a(href='#')
            i.icon.icon-skype
          a(href='#')
            i.icon.icon-telegram
          a(href='#')
            i.icon.icon-whatup  
          a(href='#')
            i.icon.icon-viber
          a(href='#')
            i.icon.icon-fb-messenger
          a(href='#')
            i.icon.icon-email
              
              
        .cta__form__toggler(data-text='Оставить запрос' data-action='to-contacts')
          span Другие способы связи
          
          
          
      .cta__text
        .cta__text__left
          p Наша телекоммуникационная лаборатория может предложить вам попробовать решения и продукты совершенно бесплатно прямо сейчас. 

          p Достаточно только сделать запрос и мы оперативно свяжемся с вами и договоримся на удобное для вас время.
        .cta__text__right
          p Для технического подключения и начала тестирования требуется менее 60 минут. Следующим шагом, после отличных результатов теста, является подписания договора. Согласование деталей, оформление и подписание базового договора занимает не более двух часов. 
    
