// FOOTER::START
.footer
  .container
    .footer__wrapper
      .footer__logo
        img(src='images/logo-footer.png' srcset='images/logo-footer@2x.png 2x')
      .footer__contacts
        span Prusu iela 3/7-28 / Riga, LV-1057, Latvia
        span 
          a(href='tel:+37129297899') +3 712 929 78 99
        span 
          a(href='mailto:info@sancom.lv') info@sancom.lv
      a(href='https://www.pink-man.ru' target='_blank').footer__developer
        span Разработка сайта <span>—</span> 
        img(src='images/pinkman.png' srcset='images/pinkman@2x.png 2x')
