// HEADER::START
.header.header--dark
  .container
    .header__wrapper
      .header__logo
        img.header__logo__white(src='images/logo-white.png' srcset='images/logo-white@2x.png 2x')
        img.header__logo__dark(src='images/logo-black.png' srcset='images/logo-black@2x.png 2x')
      ul.header__menu
        li
          a(href='#') Компания
        li
          a(href='#') Кейсы / результаты
        li
          a(href='#') Продукты / решения
      .header__cta
        a(href='#') Соединяем с результатом
