// HEADER::START
.header
  .container
    .header__wrapper
      a(href='homepage.html').header__logo
        img.header__logo__white(src='images/logo-white.png' srcset='images/logo-white@2x.png 2x')
        img.header__logo__dark(src='images/logo-black.png' srcset='images/logo-black@2x.png 2x')
      ul.header__menu
        li
          a(href='about.html') Компания
        li
          a(href='cases.html') Кейсы / результаты
        li
          a(href='projects.html') Продукты / решения
      .header__cta
        a(href='#sectionCTA') Соединяем с результатом
