// HEADER::START
.header
  .container
    .header__wrapper
      .header__logo
        img(src='images/logo-white.png' srcset='images/logo-white@2x.png 2x')
      ul.header__menu
        li
          a(href='#') Компания
        li
          a(href='#') Кейсы / результаты
        li
          a(href='#') Продукты / решения
      .header__cta
        a(href='#') Соединяем с результатом
