doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    .page
      include shared/header-dark.pug

      .page__content
        // CASES HEAD
        .cases-head
          .container
            .cases-head__wrapper
              .cases-head__content
                .b-title.b-title--purple KPI SanCom 
                .cases-head__caption Каждая задача, над которой мы работаем в нашей лаборатории, уникальна. Каждый отдельный бизнес имеет свои особенности и нюансы. 
                .cases-head__text 
                  p Мы любим такие особенности и такую уникальность. Каждый новый проект — это челендж для нашей команды, а каждое наше индивидуальное решение — это очередная победа, а мы любим побеждать!
                  p Но все-таки, есть индикатор эффективности, который объединяет все проекты и делает их похожими. Это крутой результат! Результат усилий SanCom в каждом проекте — это рост показателей ASR и ACD. 
              .cases-head__image
                img(src='images/kpi.png' srcset='images/kpi@2x.png 2x')
                  
          
        include shared/cta.pug
        
      include shared/footer.pug
    include shared/scripts.pug
