doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    .page
      include shared/header-dark.pug

      .page__content
        // CASES HEAD
        .cases-head
          .container
            .cases-head__wrapper
              .cases-head__content
                .b-title.b-title--purple.wow.simpleFadeIn KPI SanCom 
                .cases-head__caption.wow.simpleFadeIn(data-wow-delay='.2s') Каждая задача, над которой мы работаем в нашей лаборатории, уникальна. Каждый отдельный бизнес имеет свои особенности и нюансы. 
                .cases-head__text.wow.simpleFadeIn(data-wow-delay='.4s')
                  p Мы любим такие особенности и такую уникальность. Каждый новый проект — это челендж для нашей команды, а каждое наше индивидуальное решение — это очередная победа, а мы любим побеждать!
                  p Но все-таки, есть индикатор эффективности, который объединяет все проекты и делает их похожими. Это крутой результат! Результат усилий SanCom в каждом проекте — это рост показателей ASR и ACD. 
              .cases-head__image.wow.simpleFadeIn(data-wow-delay='.2s')
                img(src='images/kpi.png' srcset='images/kpi@2x.png 2x')
        
        // CASES FORMULA
        .cases-formula
          .container
            .cases-formula__top
              .cases-formula__top__content.wow.simpleFadeIn
                .cases-formula__slider
                  .cases-formula__slide
                    .b-title Формула ASR:
                    .t-formula
                      .t-formula__left ASR =
                      .t-formula__center
                        i.ico.ico-bracket-left
                        .t-formula__center__exp
                          .t-formula__center__exp__top сеансы связи
                          .t-formula__center__exp__bottom попытки
                        i.ico.ico-bracket-right
                      .t-formula__right
                        .t-formula__multiply * 
                        | 100

                  .cases-formula__slide
                    .b-title Формула ACD:
                    .t-formula.t-formula--smaller
                      .t-formula__left ACD =
                      .t-formula__center
                        i.ico.ico-bracket-left
                        .t-formula__center__exp
                          .t-formula__center__exp__top Продолжительность звонков
                          .t-formula__center__exp__bottom Количество звонков
                        i.ico.ico-bracket-right
                      .t-formula__right
                        .t-formula__multiply * 
                        | 100

              .cases-formula__top__image.wow.simpleFadeIn(data-wow-delay='.4s')
                svg(width='302px', height='299px', viewbox='0 0 302 299', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#cases(transform='translate(-922.000000, -807.000000)')
                      g#formula-dots(transform='translate(922.000000, 807.000000)')
                        polygon#Stroke-6(fill='#39FF4A', points='275 206.971596 287.971596 206.971596 287.971596 194 275 194')
                        polygon#Fill-7(fill='#39FF4A', points='175 298.971596 187.971596 298.971596 187.971596 286 175 286')
                        polygon#Stroke-8(fill='#39FF4A', points='175 263.971596 187.971596 263.971596 187.971596 251 175 251')
                        polygon#Fill-9(fill='#39FF4A', points='0 214.971596 12.9715958 214.971596 12.9715958 202 0 202')
                        polygon#Stroke-15(fill='#FFFFFF', points='139 148.971596 151.971596 148.971596 151.971596 136 139 136')
                        polygon#Stroke-17(fill='#FFFFFF', points='163 170.971596 175.971596 170.971596 175.971596 158 163 158')
                        polygon#Fill-19(fill='#39FF4A', points='223 147.971596 235.971596 147.971596 235.971596 135 223 135')
                        polygon#Stroke-20(fill='#FFFFFF', points='140 170.971596 152.971596 170.971596 152.971596 158 140 158')
                        polygon#Stroke-23(fill='#FFFFFF', points='163 138.971596 175.971596 138.971596 175.971596 126 163 126')
                        polygon#Stroke-27(fill='#FFFFFF', points='286 34.9715958 298.971596 34.9715958 298.971596 22 286 22')
                        polygon#Fill-30(fill='#39FF4A', points='180 64.9715958 192.971596 64.9715958 192.971596 52 180 52')
                        polygon#Stroke-31(fill='#FFFFFF', points='289 57.9715958 301.971596 57.9715958 301.971596 45 289 45')
                        polygon#Stroke-25(fill='#FFFFFF', points='38 12.9715958 50.9715958 12.9715958 50.9715958 0 38 0')
                        polygon#Stroke-33(fill='#FFFFFF', points='124 28.9715958 136.971596 28.9715958 136.971596 16 124 16')
            
            // text
            .cases-formula__text
              .cases-formula__text-col.wow.simpleFadeIn(data-wow-delay='.4s')
                p <span>ASR (англ. Answer Seizure ratio)</span> — статистический параметр, определяющий качество связи в заданном направлении через определённый узел телефонии, например АТС или коммутатора (или софтсвича в IP-телефонии).
                p 
                  span ASR определён Международным союзом электросвязи (ITU) в SG2 рекомендации: E.411: «International network management — Operational guidance».
              .cases-formula__text-col.wow.simpleFadeIn(data-wow-delay='.6s')
                p <span>ACD (англ. Average Call Duration, средняя продолжительность вызова) </span>— статистический параметр АТС, коммутатора телефонии (или софтсвича в  IP-телефонии), показывающий среднюю продолжительность вызовов на том или ином направлении. 
                p <span>Значение ACD</span>, обычно вычисляется на основе данных  из подробной записи о вызове (CDR). Нередко ACD используется компаниями-операторами для оценки спроса 
              .cases-formula__text-col.wow.simpleFadeIn(data-wow-delay='.8s')
                p <span>ASR рассчитывается</span> как процентное отношение числа отвеченных вызовов к общему количеству попыток вызовов в заданном направлении. Из-за того, что такие ситуации, как занятость абонента и другие ситуации, когда отвергается вызов, считаются как неудачные попытки вызовов, расчётное значение параметра <span>ASR может</span> меняться в зависимости от поведения вызываемого абонента.
                p
                  a(href='#') Википедия
          
        // CASES TEXT
        .cases-text
          .container
            .cases-text__wrapper
              .cases-text__col.wow.simpleFadeIn
                p Другими словами, чем больше результативных дозвонов, тем больше сделок. Конверсия из звонков в продажи не меняется с увеличением числа самих звонков. 
              .cases-text__col.wow.simpleFadeIn(data-wow-delay='.2s')
                p Это означает, что любой колл-центр, нацеленный  на продажи, заинтересован увеличивать кол-во  этих самых результативных звонков и их продолжительность. 
                p   Таким образом, надёжная связь прямым образом влияет на доход, а значит, на эффективность бизнеса! 
        
        // CASES GROW
        .cases-grow
          .container
            .cases-grow__wrapper
              .cases-grow__metric.wow.simpleFadeIn(data-wow-delay='.2s')
                span 5-30%
                span Рост ASR
              .cases-grow__text.wow.simpleFadeIn(data-wow-delay='.4s')
                p Многолетний опыт и наши решения позволяют достигать увеличения показателя ASR на 5-30%, в зависимости от сферы бизнеса и особенностей предлагаемых товаров и услуг.
        
        // SOLUTIONS
        .solutions.solutions--cases
          .container
            .solutions__wrapper
              .solutions__intro.wow.simpleFadeIn
                p Вот лишь несколько ярких примеров влияния качества связи на эффективность бизнеса:
              // card
              .solutions__card
                .solutions__card__left.wow.simpleFadeIn
                  .solutions__card__name Кейс 1
                  .solutions__card__scope Увеличение роста продаж в Китае 
                .solutions__card__right.wow.simpleFadeIn(data-wow-delay='.3s')
                  .solutions__card__text 
                    p План продаж товаров через колл-центр составлял 90 продаж в день. Средний чек 135 долларов. Коллцентр выполнял данный kpi на 85% и делал около 75 продаж в день. Внедрение нашей формулы эффективной связи и наших решений позволило увеличить показатель ASR почти на 30%. Это, в свою очередь, обеспечило существенный рост продаж и позволило компании не только выполнять ежедневный план продаж, но и перевыполнить его на 15%. В итоге, отчет компании занимавшейся обзвоном абонентов в Китае, Гонконге и Сингапура свидетельствует об увеличение объема продаж на 108 000 долларов в месяц.    
                    p – Крупная CPA сеть
                .solutions__card__icon
                  i.ico.ico-circle(data-depth='2')
              // card
              .solutions__card
                .solutions__card__left.wow.simpleFadeIn
                  .solutions__card__name Кейс 2
                  .solutions__card__scope Увеличение клиентских депозитов в РФ
                .solutions__card__right.wow.simpleFadeIn(data-wow-delay='.3s')
                  .solutions__card__text 
                    p Устойчивое увеличение объема клиентских депозитов на 10% на территории России и Прибалтики в результате повышения Answer Seizure ratio до 48% и Average Call Duration  до 3 минут.
                    p - Российский брокер бинарных опционов
                .solutions__card__icon
                  i.ico.ico-rectangle(data-depth='2')
              // card
              .solutions__card
                .solutions__card__left.wow.simpleFadeIn
                  .solutions__card__name Кейс 3
                  .solutions__card__scope Увеличение клиентских депозитов в Германии
                .solutions__card__right.wow.simpleFadeIn(data-wow-delay='.3s')
                  .solutions__card__text 
                    p Двадцатипроцентное увеличение объема клиентских депозитов на территории Германии по итогам двух недель обзвона в результате двадцатипроцентного сокращения попадания вызовов на голосовую почту и автоответчики.
                    p - Международный брокер форекс и бинарных опционов
                .solutions__card__icon
                  i.ico.ico-triangle(data-depth='5')
              // card
              .solutions__card
                .solutions__card__left.wow.simpleFadeIn
                  .solutions__card__name
                    img(src='images/casesMore.svg')
                .solutions__card__right.wow.simpleFadeIn(data-wow-delay='.3s')
                  .solutions__card__text.solutions__card__text--hero
                    p Всё это примеры телекоммуникационных экспериментов и испытаний, которые мы делаем в лаборатории SANCOM для наших клиентов.   
                    p Мы будем рады рассказать вам подробнее про эти и другие успешные и яркие кейсы при личной встрече.

        include shared/cta.pug
        
      include shared/footer.pug
    include shared/scripts.pug
