doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    .page
      include shared/header-dark.pug

      .page__content
        // FORMULA
        .formula.formula--hero
          .container
            .b-title.b-title--purple Формула эффективной <br> связи от Sancom:
            .formula__wrapper
              p Наши лабораторные опыты привели к созданию собственной формулы связи.  <br> Формула эффективной связи от Sancom — это сумма из трёх слагаемых: 
              .formula__steps
                .formula__step
                  .formula__step__num 1
                  .formula__step__title Резервирование
                  .formulat__step__text Технологии автоматического резервирования — это золотой стандарт в работе SanCom. Все компоненты и соединения дублируются. При необходимости, резервные ресурсы   активируются автоматически, в течение  30 секунд.
                .formula__step
                  .formula__step__num 2
                  .formula__step__title Предупреждение
                  .formulat__step__text Мы применяем современные превентивные меры. Это стало возможно благодаря постоянно обучаемой системе мониторинга. Система позволяет отслеживать признаки сбоев и устранять потенциальные проблемы .
                .formula__step
                  .formula__step__num 3
                  .formula__step__title Реакция
                  .formulat__step__text Мгновенная реакция и обратная связь. Среднее время ответа клиенту на возникшую проблему — 3 минуты. Ответ не должен  задерживаться дольше 15 минут в рабочие часы.

        // PROMO
        .promo
          .container
            .b-title Соединяем с результатом
            .promo__wrapper
              .promo__text И делаем это с 2013 года. <br>  Есть один убедительный факт,  <br> которым мы очень дорожим:
              .promo__cta За 4 года работы от SanCom  не ушёл ни один клиент!
        
        // SOLUTIONS
        .solutions
          .container
            .b-title.b-title--purple Наши решения
            .solutions__wrapper
              .solutions__intro 
                p Наши услуги и решения доказали свою надёжность  и результативность на сотнях проектах. Их можно назвать настоящими катализаторами нашей эффективной формулы связи.   
                p Вот некоторые из наших решений:
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name Predictive Dialers Optimizer 
                  .solutions__card__scope Эффективное распределение предиктивных дайлеров по необходимым маршрутам клиента.
                .solutions__card__right
                  .solutions__card__text 
                    p Большинство колл-центров, нацеленных на эффективность своих продаж, предпочитают использовать так называемые предиктивные дайлеры (predictive dialers). Это позволяет эффективно распределять звонки и оптимально задействовать агентов продаж центра. 
                    p   Одновременно с этим, телекоммуникационные компании очень не любят звонки, генерируемые предиктивными дайлерами, поскольку в этом случае, лишь 10%-15% задействованных ими ресурсов приносят прибыль. Из-за этого компании направляют такие звонки по маршрутам с низким приоритетом и качеством, а иногда и полностью блокируют. Это негативно сказывается на результате работы агентов колл-центра. 
                    p Наше решение предоставляет клиенту маршрут именно для такого типа звонков. Это стало возможным благодаря специальным условиям от телекоммуникационных компаний, в сети которых поступают вызовы с предиктивных дайлеров.
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name HLR lookups 
                  .solutions__card__scope Проверка текущего статуса телефонных номеров, которые необходимо обзвонить.
                .solutions__card__right
                  .solutions__card__text 
                    p Перед началом процесса обзвона мы рекомендуем нашим клиентам использовать специальное решение – “HLR lookups”. Оно позволяет проверить текущий статус телефонных номеров, которые необходимо обзвонить. Решение позволяет исключить те номера, на которые нельзя дозвониться  в данный момент времени.    
                    p Практика показывает, что база может содержать до 30% номеров, недоступных на момент обзвона. Причин, по которым такое случается много —  выключен телефон, номер больше не обслуживается, ошибка в длине номера – содержит лишнюю цифру или цифра пропущена, и т.п.   
                    p Решение HLR lookups помогает клиенту существенно сэкономить время и ресурсы на кампанию обзвона в целом.
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name Crypto Voice
                  .solutions__card__scope Для дорогих и конфиденциальных звонков существует решение по шифрованию данных на основе 2048-4096 битовой длине ключей шифрования.  
                .solutions__card__right
                  .solutions__card__text 
                    p Все чаще мы узнаем о недобросовестном поведении некоторых организаций, которые фактически занимаются промышленным шпионажем и перехватывают детали и содержимое звонков,  совершаемых конкурентами.
                    p На этот случай мы предусмотрели наше решение по шифрованию данных звонков.  Используя сложные ключи шифрования, наши клиенты могут быть уверенны не только в качестве звонков, но и в сохранности и конфиденциальности разговоров, осуществляемых по каналам связи, обеспечиваемыми SanCom.
                    p.t-purple Шифрование голосового трафика TLS + SRTP с профайлами AES-CM-128 (Advanced Encryption Standard-Counter Mode) и 80-bit HMAC-SHA1 (Hash-based Message Authentication Code with Secure Hashing Algorithm 1), а также AES-CM-256 и 32-bit HMAC-SHA1.
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name DID Replacer
                  .solutions__card__scope Номерная база из 50 стран мира и возможность заменить номера в максимально сжатые сроки.
                .solutions__card__right
                  .solutions__card__text 
                    p Для бизнеса, связанного с телефонными звонками, зачастую необходимо пополнить или заменить свою базу номеров телефонов. Мы обеспечиваем наших клиентов номерами из 50 стран мира без лишних формальностей и в максимально сжатые сроки – обычно это занимает от 15 минут до 24 часов, в зависимости от страны.   https://ru.wikipedia.org/wiki/DID 
                    p.t-purple 
                      a(href='#') https://ru.wikipedia.org/wiki/DID 
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name SMSale  
                  .solutions__card__scope Решение с широким функционалом для организации sms-рассылок.
                .solutions__card__right
                  .solutions__card__text 
                    p Часто нашим клиентам необходимо проинформировать своих абонентов об акциях, выгодных предложениях или  уведомить их об изменениях в графике работы. Для этих целей отлично подойдёт наше функциональное и современное решение по организации SMS-рассылок. 
                    
              // card
              .solutions__card
                .solutions__card__left
                  .solutions__card__name Antibot     
                  .solutions__card__scope РРешение позволяющее определить автоответчики и повысить эффективность дозвона.
                  .solutions__card__label Coming soon
                .solutions__card__right
                  .solutions__card__text 
                    p Автоответчики и переключение на голосовую почту являются настоящей головной болью при работе колл-центра в западно-европейском регионе. Наиболее часто с этой ситуацией сталкиваются абоненты телекоммуникационных компаний европейских стран (Германия, Швейцария, Италия).    
                    p В свою очередь, провайдеры связи стран Азии и Латинской Америки часто предпочитают “проговаривать” статус номера, если он недоступен, что обеспечивает возможность автоматически определить причину проблемы дозвона, правильно классифицировать и обработать звонок.  
                    p   Мы активно готовим к запуску интеллектуальное решение “Antibot”, позволяющее определять автоответчики и переадресацию на голосовую почту.  Решение призвано радикально повысить эффективность работы наших клиентов в проблемных  регионах.        
                    
        include shared/cta.pug
      include shared/footer.pug
    include shared/scripts.pug
