/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 2. Elements */
/* ICONS */
.ico {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.ico-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #39FF4A;
}
.ico-rectangle {
    width: 26px;
    height: 26px;
    background: #6000FF;
    -webkit-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.ico-triangle {
    width: 0;
    height: 0;
    border-width: 15px 15px 0 15px;
    border-style: solid;
    border-color: #39FF4A transparent transparent transparent;
}
/* buttons */
button {
    border: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.btn span {
    position: relative;
    z-index: 2;
}
.btn:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    display: block;
    margin: auto;
    width: 300%;
    height: 100%;
    content: ' ';
    -webkit-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
            transform: translateX(-35%);
}
.btn:hover, .btn:focus {}
.btn:hover:after, .btn:focus:after {
    -webkit-transition: all .8s 0s ease-out;
    transition: all .8s 0s ease-out;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.btn--primary {
    padding: 21px 35px;
    border: 2px solid transparent;
    background: #6000FF;
    color: white;
    text-transform: uppercase;
    letter-spacing: .22px;
    font-weight: 500;
    font-size: 12px;
    -webkit-transition: border .3s .15s ease-out;
    transition: border .3s .15s ease-out;
}
.btn--primary:hover {
    border-color: #39FF4A;
}
.btn--primary:after {
    background: -webkit-gradient(linear,  left top, right top,  from(rgb(96, 0, 255)),color-stop(94%, rgb(57, 255, 74)),to(rgb(96, 0, 255)));
    background: -webkit-linear-gradient(left,  rgb(96, 0, 255) 0%,rgb(57, 255, 74) 94%,rgb(96, 0, 255) 100%);
    background: linear-gradient(90deg,  rgb(96, 0, 255) 0%,rgb(57, 255, 74) 94%,rgb(96, 0, 255) 100%);
}
.btn--white {
    background: white;
    color: #1F1F1F;
    -webkit-transition: background .3s .15s ease-out;
    transition: background .3s .15s ease-out;
}
.btn--white:after {
    background: -webkit-gradient(linear,  left top, right top,  from(rgb(57, 255, 74)),color-stop(94%, rgb(96, 0, 255)),to(rgb(57, 255, 74)));
    background: -webkit-linear-gradient(left,  rgb(57, 255, 74) 0%,rgb(96, 0, 255) 94%,rgb(57, 255, 74) 100%);
    background: linear-gradient(90deg,  rgb(57, 255, 74) 0%,rgb(96, 0, 255) 94%,rgb(57, 255, 74) 100%);
}
.btn--white:hover {
    border-color: white;
    background: #39FF4A;
    color: white;
}
.btn:focus, .btn:active {
    outline: none;
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-top: 2px;
    margin-right: -15px;
    padding: 15px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover .hamburger-inner {}
.hamburger:hover .hamburger-inner:before, .hamburger:hover .hamburger-inner:after {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.hamburger-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 35px;
    height: 30px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 35px;
    height: 3px;
    background-color: white;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.hamburger-inner:before {
    -webkit-transform: translate3d(7px,0,0);
            transform: translate3d(7px,0,0);
}
.hamburger-inner:after {
    -webkit-transform: translate3d(14px,0,0);
            transform: translate3d(14px,0,0);
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger--minus .hamburger-inner {}
.hamburger--minus .hamburger-inner:before, .hamburger--minus .hamburger-inner:after {
    -webkit-transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear, -webkit-transform .3s ease;
    transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear, -webkit-transform .3s ease;
    transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, transform .3s ease, opacity 0s linear;
    transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, transform .3s ease, opacity 0s linear, -webkit-transform .3s ease;
}
.hamburger--minus.is-active .hamburger-inner {}
.hamburger--minus.is-active .hamburger-inner:before, .hamburger--minus.is-active .hamburger-inner:after {
    opacity: 0;
    -webkit-transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
    transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}
.hamburger--minus.is-active .hamburger-inner:before {
    top: 0;
}
.hamburger--minus.is-active .hamburger-inner:after {
    bottom: 0;
}

/*# sourceMappingURL=secondary.css.map */
