/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 1. Layout */
/* Fonts */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Regular.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Regular.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular') format('svg');
}
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Light.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Light.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Light.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Light.svg#AkzidenzGroteskPro-Light') format('svg');
}
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Md.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Md.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Md.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Md.svg#AkzidenzGroteskPro-Md') format('svg');
}
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-BoldEx.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-BoldEx.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-BoldEx.svg#AkzidenzGroteskPro-BoldEx') format('svg');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro-Ext';
    src: url('../fonts/AkzidenzGroteskPro-Ext.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Ext.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Ext.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Ext.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Ext.svg#AkzidenzGroteskPro-Ext') format('svg');
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Bold.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Bold.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Bold.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Bold.svg#AkzidenzGroteskPro-Bold') format('svg');
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
body, html {
    overflow-x: hidden;
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    background: white;
    color: #1F1F1F;
    font-weight: 400;
    font-size: 16px;
    font-family: 'AkzidenzGroteskPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1200px;
}
@media(max-width: 414px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.page__content {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-flex: 1;
}
/* CUSTOM 6 COL FLEX GRID */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.row--wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.row--column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.row--aic {
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.row--jcsb {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.row--jcsa {
    -webkit-justify-content: space-around;
            justify-content: space-around;
        -ms-flex-pack: distribute;
}
.row--jcc {
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}
.row--jcfe {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.row--jcfs {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
}
.row--condenced {
    margin-right: 0;
    margin-left: 0;
}
.row--condenced .col {
    padding-right: 0;
    padding-left: 0;
}
@media(max-width: 992px) {
    .row {}
    .row--wrap--desktop {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--desktop {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--desktop {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--desktop {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--desktop {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--desktop {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--desktop {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--desktop {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 768px) {
    .row {}
    .row--wrap--tablet {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--tablet {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--tablet {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--tablet {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--tablet {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--tablet {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--tablet {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--tablet {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 568px) {
    .row {}
    .row--wrap--mobile {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--mobile {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--mobile {
        -webkit-align-items: mobile;
                align-items: mobile;
        -webkit-box-align: mobile;
            -ms-flex-align: mobile;
    }
    .row--jcsb--mobile {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--mobile {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--mobile {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--mobile {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--mobile {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
/* Desktop first method */
.col {
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 0;
    min-height: 1px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 1;
}
.col--1-6 {
    -webkit-flex-basis: 16.6%;
            flex-basis: 16.6%;
        -ms-flex-preferred-size: 16.6%;
}
.col--2-6 {
    -webkit-flex-basis: 33.3%;
            flex-basis: 33.3%;
        -ms-flex-preferred-size: 33.3%;
}
.col--3-6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
}
.col--4-6 {
    -webkit-flex-basis: 66.4%;
            flex-basis: 66.4%;
        -ms-flex-preferred-size: 66.4%;
}
.col--5-6 {
    -webkit-flex-basis: 83%;
            flex-basis: 83%;
        -ms-flex-preferred-size: 83%;
}
.col--full {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
}
.col--1-4 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
}
.col--3-4 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
}
.col--auto {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-flex: 1;
}
.col--grow {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
}
.col--no-shrink {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
        -ms-flex-negative: 0;
}
@media(max-width: 992px) {
    .col {}
    .col--full--desktop {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--desktop {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--desktop {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 768px) {
    .col {}
    .col--full--tablet {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--tablet {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 568px) {
    .col {}
    .col--full--mobile flex-basismobile 100% {}
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--mobile {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
/* OFFSETS AND PADDINGS */
.offset {}
.offset--1-6 {
    margin-left: 16.6%;
}
.no-pad {
    padding-right: 0;
    padding-left: 0;
}
.no-pad-l {
    padding-left: 0;
}
@media(max-width: 568px) {
    .no-pad-l {
        padding-left: 15px;
    }
}
.no-pad-r {
    padding-right: 0;
}
@media(max-width: 568px) {
    .no-pad-r {
        padding-right: 15px;
    }
}
.hidden--desktop {
    display: block;
}
@media(max-width: 992px) {
    .hidden--desktop {
        display: none;
    }
}
.visible--desktop {
    display: none;
}
@media(max-width: 992px) {
    .visible--desktop {
        display: block;
    }
}
.visible--mobile {
    display: none;
}
@media(max-width: 568px) {
    .visible--mobile {
        display: block;
    }
}
/* HELPERS */
/* Margins */
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt80 {
    margin-top: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mt100 {
    margin-top: 100px;
}
/* Paddings */
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pt60 {
    padding-top: 60px;
}
.pt70 {
    padding-top: 70px;
}
.pt80 {
    padding-top: 80px;
}
.pt90 {
    padding-top: 90px;
}
.pt100 {
    padding-top: 100px;
}

/* 2. Elements */
/* UI */
/* THIS IS GROUPED INPUT WHERE DOM MANIPULATIONS IS REQUIRED */
/* label is used as a placeholder */
.input {
    position: relative;
}
.input--dynamic {
    margin-bottom: 15px;
    min-height: 40px;
    border-bottom: 1px solid $borderColor;
}
.input--dynamic label {
    position: absolute;
    bottom: 7px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.input--dynamic input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    border: 0;
    background: transparent;
    color: $grayColor;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
}
.input--dynamic input:focus {
    outline: none;
}
.input--focused label {
    color: $grayColor;
    font-weight: 400;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
}
/* THIS IS REGULAR CLASS MODIFIER FOR THE INPUT IT */
.ui-input {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background: white;
    color: $grayColor;
    -webkit-appearance: none;
}
.js-datepicker {
    background-image: svg-load('../../images/svg/calendar.svg');
    background-position: 95% center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
}
/* Checkbox */
.ui-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.ui-checkbox input:checked + label {}
.ui-checkbox input:checked + label:before {
    border-color: #39FF4A;
}
.ui-checkbox input:checked + label:after {
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
}
.ui-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.ui-checkbox label span {
    display: inline-block;
    padding-left: 35px;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
}
.ui-checkbox label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFB7C0;
    border-radius: 4px;
    background-color: white;
    content: ' ';
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-checkbox label:after {
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: svg-load(../../images/svg/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
}
.ui-checkbox--chunk {
    margin-bottom: 5px;
    border: 1px solid rgba(236, 240, 241, 0.15);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-checkbox--chunk label {
    padding: 11px 15px;
}
.ui-checkbox--chunk label:before {
    left: 15px;
}
.ui-checkbox--chunk label:after {
    left: 16px;
}
.ui-checkbox--chunk:hover {
    border-color: #ECF0F1;
    background: white;
}

/* 3. Modules */
/* THIS MIGHT INCLUDE HEADER, FOOTER AND OTHER */
/* COMMON ELEMENTS ACROSS THE SITE */
/* HEADER */
.header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    padding: 40px 0;
    background: transparent;
    color: white;
}
.header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.header__logo {
    -webkit-flex: 0 0 230px;
        -ms-flex: 0 0 230px;
            flex: 0 0 230px;
    -webkit-box-flex: 0;
}
.header__logo__dark {
    display: none;
}
.header__menu {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px 0 0;
    font-weight: 500;
    -webkit-box-flex: 0;
}
.header__menu li {
    display: inline-block;
}
.header__menu a {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: .22px;
    font-size: 12px;
    line-height: 1.6;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header__menu a:hover {
    color: #39FF4A;
}
.header__cta {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: auto;
    color: #39FF4A;
    text-transform: uppercase;
    letter-spacing: .25px;
    font-weight: 500;
    font-size: 10px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-flex: 0;
}
.header__cta a {
    margin-right: -15px;
    padding: 15px;
}
.header__cta:hover {
    color: white;
}
.header--transformed {
    position: fixed;
    padding: 15px 0;
    background: white;
    -webkit-box-shadow: 0px 5px 10px rgba(31, 31, 31, 0.5);
            box-shadow: 0px 5px 10px rgba(31, 31, 31, 0.5);
    color: #1F1F1F;
    opacity: 0;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
}
.header--transformed .header__logo {}
.header--transformed .header__logo__white {
    display: none;
}
.header--transformed .header__logo__dark {
    display: block;
}
.header--fixed {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
.header--fixed .header__cta {}
.header--fixed .header__cta:hover {
    color: #6000FF;
}
.header--dark {
    color: #1F1F1F;
}
.header--dark .header__logo {}
.header--dark .header__logo__white {
    display: none;
}
.header--dark .header__logo__dark {
    display: block;
}
.header--dark .header__cta {}
.header--dark .header__cta:hover {
    color: #6000FF;
}
/* FOOTER */
.footer {
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0 1 0%;
    padding: 48px 0;
    background: #1F1F1F;
    color: white;
    -webkit-box-flex: 0;
}
.footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.footer__logo {
    -webkit-flex: 0 0 102px;
        -ms-flex: 0 0 102px;
            flex: 0 0 102px;
    -webkit-box-flex: 0;
}
.footer__logo img {
    max-width: 100%;
}
.footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-box-flex: 0;
}
.footer__contacts span {
    display: inline-block;
    margin-left: 40px;
    color: #39FF4A;
    font-size: 14px;
}
.footer__contacts a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.footer__contacts a:hover {
    color: white;
}
.footer__developer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-align-items: center;
            align-items: center;
    margin-left: auto;
    font-size: 12px;
    -webkit-box-flex: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.footer__developer span {
    margin-right: 14px;
}
/* INDEX PAGE */
.hero {
    background: -webkit-gradient(linear, left top, left bottom, from(#3A1E67), to(#6000FF));
    background: -webkit-linear-gradient(top, #3A1E67, #6000FF);
    background: linear-gradient(to bottom, #3A1E67, #6000FF);
    color: white;
}
.hero__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 75px;
    max-height: 900px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.hero__image {
    position: absolute;
    top: 130px;
    right: 0;
}
/* ABOUT */
.about {
    padding: 60px 0;
}
.about__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.about__block {
    position: relative;
    z-index: 3;
    -webkit-flex: 0 0 260px;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    margin-right: 8.6%;
    padding: 45px 30px 35px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#00FF4A), to(#6000FF));
    background: -webkit-linear-gradient(top, #00FF4A, #6000FF);
    background: linear-gradient(to bottom, #00FF4A, #6000FF);
    color: white;
    text-align: center;
    -webkit-transform: translate3d(0,-160px,0);
            transform: translate3d(0,-160px,0);
    -webkit-box-flex: 0;
}
.about__block p {
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
    line-height: 1.42;
}
/* COMMON */
.b-text {
    margin-left: 8.6%;
    max-width: -webkit-calc(660px + 8.6%);
    max-width: calc(660px + 8.6%);
    font-weight: 300;
    font-size: 25px;
    line-height: 1.6;
}
.b-text--narrow {
    max-width: -webkit-calc(550px + 8.6%);
    max-width: calc(550px + 8.6%);
}
.b-text--small {
    margin-left: 0;
    max-width: 605px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.42;
}
.b-title {
    position: relative;
    font-weight: 900;
    font-size: 48px;
}
.b-title span {
    position: relative;
    display: inline-block;
    margin: 50px 0;
    letter-spacing: -1.09px;
    font-size: 60px;
}
.b-title span:before {
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    display: inline-block;
    border-bottom: 1px dashed #39FF4A;
    content: ' ';
}
.b-title span:after {
    position: absolute;
    top: 55%;
    right: -75px;
    display: inline-block;
    width: 61px;
    height: 39px;
    background: url('../images/title-arrow@2x.png') no-repeat center;
    background-size: contain;
    content: ' ';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.b-title--purple {
    color: #6000FF;
}
/* METRICS */
.metrics {
    padding-top: 110px;
    padding-bottom: 90px;
    background: #F5F5F5;
}
.metrics__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 120px;
    margin-right: -20px;
    margin-left: -20px;
}
.metrics__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
}
.metrics__item__title {
    margin-right: -10px;
    letter-spacing: -.6px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.25;
}
.metrics__item__title:before {
    display: block;
    margin-bottom: 20px;
    height: 5px;
    background: #39FF4A;
    content: ' ';
}
.metrics__item__text {
    margin-top: auto;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
/* FORMULA */
.formula {
    padding-top: 55px;
    padding-bottom: 70px;
}
.formula--hero {
    padding-top: 200px;
}
.formula__wrapper {
    margin-top: 20px;
    margin-left: 8.6%;
}
.formula__wrapper p {
    font-size: 20px;
    line-height: 1.4;
}
.formula__steps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}
.formula__step {
    -webkit-flex: 0 1 260px;
        -ms-flex: 0 1 260px;
            flex: 0 1 260px;
    margin-right: 40px;
    -webkit-box-flex: 0;
}
.formula__step:last-child {
    margin-right: 0;
}
.formula__step__num {
    color: #6000FF;
    font-weight: 900;
    font-size: 160px;
    line-height: 1;
}
.formula__step__title {
    margin-bottom: 20px;
    color: #6000FF;
    font-weight: 900;
    font-size: 21px;
    line-height: 1.3;
}
.formula__step__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
.formula__step:nth-child(1) .formula__step__num {
    margin-left: -25px;
}
.formula__step:nth-child(2) .formula__step__num {
    margin-left: -10px;
}
/* PROMO */
.promo {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #6000FF;
    color: white;
}
.promo__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}
.promo__text {
    -webkit-flex: 0 1 360px;
        -ms-flex: 0 1 360px;
            flex: 0 1 360px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 1.4;
    -webkit-box-flex: 0;
}
.promo__cta {
    margin-top: -5px;
    max-width: 680px;
    color: #39FF4A;
    font-size: 36px;
    font-family: 'AkzidenzGroteskPro-Ext';
    line-height: 1.3;
}
/* BENEFITS */
.benefits {
    padding: 110px 0;
}
.benefits__item {}
.benefits__item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8.6%;
}
.benefits__item__image {
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-flex: 0;
}
.benefits__item__image img {
    max-width: 100%;
}
.benefits__item__content {
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-left: 8.6%;
    color: #6000FF;
    font-size: 20px;
    line-height: 1.4;
    -webkit-box-flex: 0;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-apperance: none;
}
.slick-arrow:hover {
    -webkit-transform: translateY(-50%) scale(1.1);
        -ms-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
}
.slick-next {
    right: 0;
    background-image: url('../images/svg/slick-next.svg');
}
.slick-prev {
    left: 0;
    background-image: url('../images/svg/slick-prev.svg');
}
.slick-dots {
    margin: 0;
    margin-top: -25px;
    margin-left: 56.5%;
    padding: 0;
}
.slick-dots li {
    font-size: 0;
}
.slick-dots li button {
    background: none;
    font-size: 0;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-appearance: none;
}
.slick-dots li button:after {
    display: block;
    width: 10px;
    height: 10px;
    background: #6000FF;
    content: ' ';
    opacity: .2;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.slick-dots li.slick-active button {}
.slick-dots li.slick-active button:after {
    opacity: 1;
}
/* SERVICeS */
.services {
    padding-top: 60px;
    padding-bottom: 100px;
    background: #00192C;
    color: white;
}
.services__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
}
.services__content {
    -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    padding-right: 20px;
    -webkit-box-flex: 0;
}
.services__image {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin-top: -210px;
    padding-left: 20px;
    text-align: right;
    -webkit-box-flex: 0;
}
.services__image img {
    max-width: 100%;
}
.services__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 80px;
    margin-right: -20px;
    margin-bottom: 30px;
    margin-left: -20px;
}
.services__list-item {
    -webkit-flex: 0 1 33.3%;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
}
.services__list-item__name {
    color: #39FF4A;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.3;
}
.services__list-item__description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
/* CTA */
.cta {
    padding: 80px 0 75px 0;
    background: #F5F5F5;
}
.cta__wrapper {
    margin: 0 8.6%;
}
.cta__form {
    margin-top: 55px;
    padding: 55px 60px;
    background: -webkit-gradient(linear, right top, left top, from(#39FF4A), to(#6000FF));
    background: -webkit-linear-gradient(right, #39FF4A, #6000FF);
    background: linear-gradient(to left, #39FF4A, #6000FF);
}
.cta__form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.cta__form input {
    padding: 0 25px;
    max-width: 400px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 30px;
    line-height: 58px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
}
.cta__form input::-webkit-input-placeholder {
    color: white;
}
.cta__form input::-moz-placeholder {
    color: white;
}
.cta__form input:-ms-input-placeholder {
    color: white;
}
.cta__form input::placeholder {
    color: white;
}
.cta__form input:focus {
    border-color: #39FF4A;
}
.cta__form input.has-error {
    border-color: tomato;
}
.cta__form button {
    margin-left: 40px;
}
.cta__form button.no-no {
    -webkit-animation: shake .7s linear;
            animation: shake .7s linear;
}
.cta__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.cta__text p {
    font-size: 14px;
    line-height: 1.42;
}
.cta__text__left {
    -webkit-flex: 0 1 480px;
        -ms-flex: 0 1 480px;
            flex: 0 1 480px;
    padding-right: 20px;
    -webkit-box-flex: 0;
}
.cta__text__right {
    -webkit-flex: 0 1 450px;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
    padding-left: 20px;
    opacity: .6;
    -webkit-box-flex: 0;
}
/* SOME INNER PAGES CONTENT */
/* ABOUT */
.about-head {
    overflow: hidden;
}
.about-head__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 240px;
    padding-bottom: 75px;
}
.about-head__wrapper:before {
    position: absolute;
    top: -300px;
    left: -215px;
    z-index: 1;
    display: block;
    width: 912px;
    height: 1510px;
    background: url('../images/aboutHeroBg.png') no-repeat left center;
    background-size: cover;
    content: ' ';
}
.about-head__block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 80px;
    -webkit-box-flex: 1;
}
.about-head__block .b-text {
    margin-top: 40px;
}
.about-head__left {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 58.3%;
        -ms-flex: 0 1 58.3%;
            flex: 0 1 58.3%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-right: 20px;
    max-height: 700px;
    height: -webkit-calc(100vh - 300px);
    height: calc(100vh - 300px);
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.about-head__right {
    position: relative;
    z-index: 2;
    -webkit-flex: 0 1 41.6%;
        -ms-flex: 0 1 41.6%;
            flex: 0 1 41.6%;
    padding-top: 90px;
    padding-left: 40px;
    -webkit-box-flex: 0;
}
.about-head__right p {
    margin-top: 0;
    color: #39FF4A;
    font-size: 36px;
    font-family: 'AkzidenzGroteskPro-Ext';
    line-height: 1.3;
}
/* PROJECTS */
.solutions {
    padding-top: 80px;
    padding-bottom: 50px;
}
.solutions__wrapper {
    margin: 40px 8.6% 0 8.6%;
}
.solutions__intro {
    max-width: 740px;
}
.solutions__intro p {
    color: #6000FF;
    font-size: 20px;
    line-height: 1.42;
}
.solutions__card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    padding-bottom: 60px;
}
.solutions__card:last-child {}
.solutions__card:last-child:after {
    display: none;
}
.solutions__card:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 5px;
    background: -webkit-gradient(linear, right top, left top, from(#39FF4A), to(#6000FF));
    background: -webkit-linear-gradient(right, #39FF4A, #6000FF);
    background: linear-gradient(to left, #39FF4A, #6000FF);
    content: ' ';
}
.solutions__card__left {
    -webkit-flex: 0 0 270px;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
    color: #6000FF;
    -webkit-box-flex: 0;
}
.solutions__card__right {
    padding-left: 35px;
}
.solutions__card__name {
    margin-bottom: 10px;
    color: #6000FF;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.3;
}
.solutions__card__scope {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
}
.solutions__card__label {
    margin-top: 20px;
    color: #39FF4A;
    font-weight: 700;
    font-size: 16px;
}
.solutions__card__text p {
    font-size: 14px;
    line-height: 1.42;
}
.solutions__card__text a {
    color: #6000FF;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.solutions__card__text a:hover {
    color: #39FF4A;
}
.t-purple {
    color: #6000FF;
}
@-webkit-keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}

/*# sourceMappingURL=style.css.map */
