/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 1. Layout */
/* Fonts */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Regular.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Regular.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular') format('svg');
}
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Light.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Light.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Light.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Light.svg#AkzidenzGroteskPro-Light') format('svg');
}
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Md.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Md.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Md.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Md.svg#AkzidenzGroteskPro-Md') format('svg');
}
@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-BoldEx.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-BoldEx.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-BoldEx.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-BoldEx.svg#AkzidenzGroteskPro-BoldEx') format('svg');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro-Ext';
    src: url('../fonts/AkzidenzGroteskPro-Ext.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Ext.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Ext.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Ext.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Ext.svg#AkzidenzGroteskPro-Ext') format('svg');
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'AkzidenzGroteskPro';
    src: url('../fonts/AkzidenzGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskPro-Bold.otf')  format('opentype'), url('../fonts/AkzidenzGroteskPro-Bold.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Bold.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskPro-Bold.svg#AkzidenzGroteskPro-Bold') format('svg');
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
body, html {
    overflow-x: hidden;
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    background: white;
    color: #1F1F1F;
    font-weight: 400;
    font-size: 16px;
    font-family: 'AkzidenzGroteskPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1200px;
}
@media(max-width: 414px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.page__content {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-flex: 1;
}

/* 2. Elements */
/* UI */
/* THIS IS GROUPED INPUT WHERE DOM MANIPULATIONS IS REQUIRED */
/* label is used as a placeholder */
.input {
    position: relative;
}
.input--dynamic {
    margin-bottom: 15px;
    min-height: 40px;
    border-bottom: 1px solid $borderColor;
}
.input--dynamic label {
    position: absolute;
    bottom: 7px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.input--dynamic input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    border: 0;
    background: transparent;
    color: $grayColor;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
}
.input--dynamic input:focus {
    outline: none;
}
.input--focused label {
    color: $grayColor;
    font-weight: 400;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
}
/* THIS IS REGULAR CLASS MODIFIER FOR THE INPUT IT */
.ui-input {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background: white;
    color: $grayColor;
    -webkit-appearance: none;
}
.js-datepicker {
    background-image: svg-load('../../images/svg/calendar.svg');
    background-position: 95% center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
}
/* Checkbox */
.ui-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.ui-checkbox input:checked + label {}
.ui-checkbox input:checked + label:before {
    border-color: #39FF4A;
}
.ui-checkbox input:checked + label:after {
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
}
.ui-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.ui-checkbox label span {
    display: inline-block;
    padding-left: 35px;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
}
.ui-checkbox label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFB7C0;
    border-radius: 4px;
    background-color: white;
    content: ' ';
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-checkbox label:after {
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: svg-load(../../images/svg/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
}
.ui-checkbox--chunk {
    margin-bottom: 5px;
    border: 1px solid rgba(236, 240, 241, 0.15);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-checkbox--chunk label {
    padding: 11px 15px;
}
.ui-checkbox--chunk label:before {
    left: 15px;
}
.ui-checkbox--chunk label:after {
    left: 16px;
}
.ui-checkbox--chunk:hover {
    border-color: #ECF0F1;
    background: white;
}

/* 3. Modules */
/* THIS MIGHT INCLUDE HEADER, FOOTER AND OTHER */
/* COMMON ELEMENTS ACROSS THE SITE */
/* HEADER */
.header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    padding: 40px 0;
    background: transparent;
    color: white;
}
.header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.header__logo {
    -webkit-flex: 0 0 230px;
        -ms-flex: 0 0 230px;
            flex: 0 0 230px;
    -webkit-box-flex: 0;
}
.header__logo__dark {
    display: none;
}
.header__menu {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px 0 0;
    font-weight: 500;
    -webkit-box-flex: 0;
}
.header__menu li {
    display: inline-block;
}
.header__menu li.active a {
    color: #39FF4A;
}
.header__menu a {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: .22px;
    font-size: 12px;
    line-height: 1.6;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header__menu a:hover {
    color: #39FF4A;
}
.header__cta {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: auto;
    color: #39FF4A;
    text-transform: uppercase;
    letter-spacing: .25px;
    font-weight: 500;
    font-size: 10px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-flex: 0;
}
.header__cta a {
    margin-right: -15px;
    padding: 15px;
}
.header__cta:hover {
    color: white;
}
.header--transformed {
    position: fixed;
    padding: 15px 0;
    background: white;
    -webkit-box-shadow: 0px 5px 10px rgba(31, 31, 31, 0.5);
            box-shadow: 0px 5px 10px rgba(31, 31, 31, 0.5);
    color: #1F1F1F;
    opacity: 0;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
}
.header--transformed .header__logo {}
.header--transformed .header__logo__white {
    display: none;
}
.header--transformed .header__logo__dark {
    display: block;
}
.header--fixed {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
.header--fixed .header__cta {}
.header--fixed .header__cta:hover {
    color: #6000FF;
}
.header--dark {
    color: #1F1F1F;
}
.header--dark .header__logo {}
.header--dark .header__logo__white {
    display: none;
}
.header--dark .header__logo__dark {
    display: block;
}
.header--dark .header__cta {}
.header--dark .header__cta:hover {
    color: #6000FF;
}
/* FOOTER */
.footer {
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0 1 0%;
    padding: 48px 0;
    background: #1F1F1F;
    color: white;
    -webkit-box-flex: 0;
}
.footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.footer__logo {
    -webkit-flex: 0 0 102px;
        -ms-flex: 0 0 102px;
            flex: 0 0 102px;
    -webkit-box-flex: 0;
}
.footer__logo img {
    max-width: 100%;
}
.footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-box-flex: 0;
}
.footer__contacts span {
    display: inline-block;
    margin-left: 40px;
    color: #39FF4A;
    font-size: 14px;
}
.footer__contacts a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.footer__contacts a:hover {
    color: white;
}
.footer__developer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-align-items: center;
            align-items: center;
    margin-left: auto;
    font-size: 12px;
    -webkit-box-flex: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.footer__developer span {
    margin-right: 14px;
}
/* INDEX PAGE */
.hero {
    background: -webkit-gradient(linear, left top, left bottom, from(#3A1E67), to(#6000FF));
    background: -webkit-linear-gradient(top, #3A1E67, #6000FF);
    background: linear-gradient(to bottom, #3A1E67, #6000FF);
    color: white;
}
.hero__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 75px;
    max-height: 900px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.hero__image {
    position: absolute;
    top: 130px;
    right: 0;
}
/* ABOUT */
.about {
    padding: 60px 0;
}
.about__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.about__block {
    position: relative;
    z-index: 3;
    -webkit-flex: 0 0 260px;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    margin-right: 8.6%;
    padding: 45px 30px 35px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#00FF4A), to(#6000FF));
    background: -webkit-linear-gradient(top, #00FF4A, #6000FF);
    background: linear-gradient(to bottom, #00FF4A, #6000FF);
    color: white;
    text-align: center;
    -webkit-transform: translate3d(0,-160px,0);
            transform: translate3d(0,-160px,0);
    -webkit-box-flex: 0;
}
.about__block p {
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
    line-height: 1.42;
}
/* COMMON */
.b-text {
    margin-left: 8.6%;
    max-width: -webkit-calc(660px + 8.6%);
    max-width: calc(660px + 8.6%);
    font-weight: 300;
    font-size: 25px;
    line-height: 1.6;
}
.b-text--narrow {
    max-width: -webkit-calc(550px + 8.6%);
    max-width: calc(550px + 8.6%);
}
.b-text--small {
    margin-left: 0;
    max-width: 605px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.42;
}
.b-ext-text {
    color: #39FF4A;
    font-size: 36px;
    font-size: 36px;
    font-family: 'AkzidenzGroteskPro-Ext';
    line-height: 1.3;
}
.b-title {
    position: relative;
    font-weight: 900;
    font-size: 48px;
}
.b-title span {
    position: relative;
    display: inline-block;
    margin: 50px 0;
    letter-spacing: -1.09px;
    font-size: 60px;
}
.b-title span:before {
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    display: inline-block;
    border-bottom: 1px dashed #39FF4A;
    content: ' ';
}
.b-title span:after {
    position: absolute;
    top: 55%;
    right: -75px;
    display: inline-block;
    width: 61px;
    height: 39px;
    background: url('../images/title-arrow@2x.png') no-repeat center;
    background-size: contain;
    content: ' ';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.b-title--purple {
    color: #6000FF;
}
/* METRICS */
.metrics {
    padding-top: 110px;
    padding-bottom: 90px;
    background: #F5F5F5;
}
.metrics__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 120px;
    margin-right: -20px;
    margin-left: -20px;
}
.metrics__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
}
.metrics__item__title {
    margin-right: -10px;
    letter-spacing: -.6px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.25;
}
.metrics__item__title:before {
    display: block;
    margin-bottom: 20px;
    height: 5px;
    background: #39FF4A;
    content: ' ';
}
.metrics__item__text {
    margin-top: auto;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
/* FORMULA */
.formula {
    padding-top: 55px;
    padding-bottom: 70px;
}
.formula--hero {
    padding-top: 200px;
}
.formula__wrapper {
    margin-top: 20px;
    margin-left: 8.6%;
}
.formula__wrapper p {
    font-size: 20px;
    line-height: 1.4;
}
.formula__steps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}
.formula__step {
    -webkit-flex: 0 1 260px;
        -ms-flex: 0 1 260px;
            flex: 0 1 260px;
    margin-right: 40px;
    -webkit-box-flex: 0;
}
.formula__step:last-child {
    margin-right: 0;
}
.formula__step__num {
    color: #6000FF;
    font-weight: 900;
    font-size: 160px;
    line-height: 1;
}
.formula__step__title {
    margin-bottom: 20px;
    color: #6000FF;
    font-weight: 900;
    font-size: 21px;
    line-height: 1.3;
}
.formula__step__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
.formula__step:nth-child(1) .formula__step__num {
    margin-left: -25px;
}
.formula__step:nth-child(2) .formula__step__num {
    margin-left: -10px;
}
/* PROMO */
.promo {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #6000FF;
    color: white;
}
.promo__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}
.promo__text {
    -webkit-flex: 0 1 360px;
        -ms-flex: 0 1 360px;
            flex: 0 1 360px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 1.4;
    -webkit-box-flex: 0;
}
.promo__cta {
    margin-top: -5px;
    max-width: 680px;
    color: #39FF4A;
    font-size: 36px;
    font-family: 'AkzidenzGroteskPro-Ext';
    line-height: 1.3;
}
/* BENEFITS */
.benefits {
    padding: 110px 0;
}
.benefits__item {}
.benefits__item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8.6%;
}
.benefits__item__image {
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-flex: 0;
}
.benefits__item__image img {
    max-width: 100%;
}
.benefits__item__content {
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-left: 8.6%;
    color: #6000FF;
    font-size: 20px;
    line-height: 1.4;
    -webkit-box-flex: 0;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-apperance: none;
}
.slick-arrow:hover {
    -webkit-transform: translateY(-50%) scale(1.1);
        -ms-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
}
.slick-next {
    right: 0;
    background-image: url('../images/svg/slick-next.svg');
}
.slick-prev {
    left: 0;
    background-image: url('../images/svg/slick-prev.svg');
}
.slick-dots {
    margin: 0;
    margin-top: -25px;
    margin-left: 56.5%;
    padding: 0;
}
.slick-dots li {
    font-size: 0;
}
.slick-dots li button {
    background: none;
    font-size: 0;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-appearance: none;
}
.slick-dots li button:after {
    display: block;
    width: 10px;
    height: 10px;
    background: #6000FF;
    content: ' ';
    opacity: .2;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.slick-dots li.slick-active button {}
.slick-dots li.slick-active button:after {
    opacity: 1;
}
/* SERVICeS */
.services {
    padding-top: 60px;
    padding-bottom: 100px;
    background: #00192C;
    color: white;
}
.services__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
}
.services__content {
    -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    padding-right: 20px;
    -webkit-box-flex: 0;
}
.services__image {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    margin-top: -210px;
    padding-left: 20px;
    text-align: right;
    -webkit-box-flex: 0;
}
.services__image img {
    max-width: 100%;
}
.services__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 80px;
    margin-right: -20px;
    margin-bottom: 30px;
    margin-left: -20px;
}
.services__list-item {
    -webkit-flex: 0 1 33.3%;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
}
.services__list-item__name {
    color: #39FF4A;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.3;
}
.services__list-item__description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42;
}
/* CTA */
.cta {
    padding: 80px 0 75px 0;
    background: #F5F5F5;
}
.cta__wrapper {
    overflow: hidden;
    margin: 0 8.6%;
}
.cta__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    margin-top: 55px;
    padding: 55px 60px;
    background: -webkit-gradient(linear, right top, left top, from(#39FF4A), to(#6000FF));
    background: -webkit-linear-gradient(right, #39FF4A, #6000FF);
    background: linear-gradient(to left, #39FF4A, #6000FF);
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.cta__form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    opacity: 1;
    -webkit-transition: opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    transition: opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out, opacity .2s .15s ease;
    transition: transform .25s ease-in-out, opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.cta__form input {
    padding: 0 25px;
    max-width: 400px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 30px;
    line-height: 58px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
}
.cta__form input::-webkit-input-placeholder {
    color: white;
}
.cta__form input::-moz-placeholder {
    color: white;
}
.cta__form input:-ms-input-placeholder {
    color: white;
}
.cta__form input::placeholder {
    color: white;
}
.cta__form input:focus {
    border-color: #39FF4A;
}
.cta__form input.has-error {
    border-color: tomato;
}
.cta__form button {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: 40px;
    -webkit-box-flex: 0;
}
.cta__form button.no-no {
    -webkit-animation: shake .7s linear;
            animation: shake .7s linear;
}
.cta__form__toggler {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: 40px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-flex: 0;
}
.cta__form__toggler span {
    border-bottom: 1px solid white;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.cta__form__toggler:hover {
    color: rgba(255, 255, 255, 0.7);
}
.cta__form__toggler:hover span {
    border-color: transparent;
}
.cta__form__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    overflow: hidden;
    min-height: 62px;
    width: .1px;
    height: .1px;
    opacity: 0;
    -webkit-transition: opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    transition: opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out, opacity .2s .15s ease;
    transition: transform .25s ease-in-out, opacity .2s .15s ease, -webkit-transform .25s ease-in-out;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.cta__form__contacts a {}
.cta__form__contacts a:hover .icon {}
.cta__form__contacts a:hover .icon:before {
    color: #39FF4A;
}
.cta__form__contacts .icon {}
.cta__form__contacts .icon:before {
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.cta__form__contacts .icon-skype {
    font-size: 44px;
}
.cta__form__contacts .icon-telegram {
    font-size: 45px;
}
.cta__form__contacts .icon-whatup {
    font-size: 44px;
}
.cta__form__contacts .icon-viber {
    font-size: 30px;
}
.cta__form__contacts .icon-fb-messenger {
    font-size: 44px;
}
.cta__form__contacts .icon-email {
    font-size: 35px;
}
.cta__form.slide form {
    width: .1px;
    height: .1px;
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
.cta__form.slide .cta__form__contacts {
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transform: translate3d(0%,0,0);
            transform: translate3d(0%,0,0);
}
.cta__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.cta__text p {
    font-size: 14px;
    line-height: 1.42;
}
.cta__text__left {
    -webkit-flex: 0 1 480px;
        -ms-flex: 0 1 480px;
            flex: 0 1 480px;
    padding-right: 20px;
    -webkit-box-flex: 0;
}
.cta__text__right {
    -webkit-flex: 0 1 450px;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
    padding-left: 20px;
    opacity: .6;
    -webkit-box-flex: 0;
}
/* SOME INNER PAGES CONTENT */
/* ABOUT */
.about-head {
    overflow: hidden;
}
.about-head__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 240px;
    padding-bottom: 75px;
}
.about-head__wrapper:before {
    position: absolute;
    top: -300px;
    left: -215px;
    z-index: 1;
    display: block;
    width: 912px;
    height: 1510px;
    background: url('../images/aboutHeroBg.png') no-repeat left center;
    background-size: cover;
    content: ' ';
}
.about-head__block {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 80px;
    -webkit-box-flex: 1;
}
.about-head__block .b-text {
    margin-top: 40px;
}
.about-head__left {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 58.3%;
        -ms-flex: 0 1 58.3%;
            flex: 0 1 58.3%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-right: 20px;
    min-height: -webkit-calc(100vh - 300px);
    min-height: calc(100vh - 300px);
    max-height: 700px;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.about-head__right {
    position: relative;
    z-index: 2;
    -webkit-flex: 0 1 41.6%;
        -ms-flex: 0 1 41.6%;
            flex: 0 1 41.6%;
    padding-top: 90px;
    padding-left: 40px;
    -webkit-box-flex: 0;
}
.about-head__right p {
    margin-top: 0;
    color: #39FF4A;
    font-size: 36px;
    font-family: 'AkzidenzGroteskPro-Ext';
    line-height: 1.3;
}
.about-name {
    padding-top: 60px;
    padding-bottom: 80px;
    background: #6000FF;
    color: white;
}
.about-name__title {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 100px;
    padding-bottom: 60px;
}
.about-name__title__first {
    position: relative;
    display: inline-block;
}
.about-name__title__first .about-name__title__hint {
    top: -100px;
    left: 0;
}
.about-name__title__first .about-name__title__hint:after {
    display: inline-block;
}
.about-name__title__second {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.about-name__title__second .about-name__title__hint {
    bottom: -70px;
    left: 10px;
}
.about-name__title__second .about-name__title__hint:before {
    display: inline-block;
}
.about-name__title__huge {
    color: #39FF4A;
    font-weight: 900;
    font-size: 85px;
    line-height: 1;
}
.about-name__title__huge span {
    color: rgba(57, 255, 74, 0.5);
}
.about-name__title__hint {
    position: absolute;
    width: 400px;
    color: white;
    font-size: 14px;
    line-height: 1.4;
}
.about-name__title__hint span {
    display: block;
    margin: 8px 0;
}
.about-name__title__hint:after, .about-name__title__hint:before {
    display: none;
    margin-left: 7px;
    width: 1px;
    height: 25px;
    background: #39FF4A;
    content: ' ';
}
.about-name__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}
.about-name__left {
    -webkit-flex: 0 0 58.3%;
        -ms-flex: 0 0 58.3%;
            flex: 0 0 58.3%;
    -webkit-box-flex: 0;
}
.about-name__right {
    -webkit-flex: 0 0 41.6%;
        -ms-flex: 0 0 41.6%;
            flex: 0 0 41.6%;
    margin-top: -5px;
    -webkit-box-flex: 0;
}
.about-name__caption {
    margin-left: 20px;
    max-width: 440px;
    color: #39FF4A;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.25;
}
.about-name__list {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    list-style: none;
}
.about-name__list li {
    position: relative;
    display: block;
    margin-bottom: 5px;
}
.about-name__list li span {
    display: inline-block;
    padding-left: 30px;
    font-size: 20px;
}
.about-name__list li:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #39FF4A;
    content: ' ';
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}
.about-client {
    padding-top: 80px;
    padding-bottom: 90px;
}
.about-client__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 45px;
    color: #6000FF;
}
.about-client__left {
    -webkit-flex: 0 1 58.3%;
        -ms-flex: 0 1 58.3%;
            flex: 0 1 58.3%;
    margin-right: 7%;
    padding-left: 8.6%;
    -webkit-box-flex: 0;
}
.about-client__left p {
    color: #6000FF;
    font-size: 20px;
    line-height: 1.4;
}
.about-client__right {
    -webkit-flex: 0 1 41.6%;
        -ms-flex: 0 1 41.6%;
            flex: 0 1 41.6%;
    padding-top: 1em;
    max-width: 400px;
    -webkit-box-flex: 0;
}
.about-service {
    padding-bottom: 90px;
    background: #00192C;
    color: white;
}
.about-service__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.about-service__content {
    margin-right: 40px;
    padding-top: 80px;
}
.about-service__content-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    margin-right: -5%;
    margin-left: -5%;
}
.about-service__content-description p {
    color: white;
    font-size: 14px;
    line-height: 1.3;
}
.about-service__content-description__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.about-service__caption-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-right: -10px;
    margin-left: -10px;
}
.about-service__caption {
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-top: 30px;
    padding: 0 10px;
    -webkit-box-flex: 0;
}
.about-service__caption__name {
    color: #39FF4A;
    font-weight: 900;
    font-size: 24px;
}
.about-service__caption__name span {
    display: block;
}
.about-service__caption__name:before {
    display: inline-block;
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
    background: #39FF4A;
    content: ' ';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.about-service__image {
    -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    margin-top: -100px;
    -webkit-box-flex: 0;
}
.about-service__image img {
    max-width: 100%;
}
.about-team {
    padding: 90px 0 60px 0;
}
.about-team__wrapper {
    position: relative;
    margin-left: 8.6%;
}
.about-team__image {
    position: relative;
    margin-right: 7%;
    margin-left: 15%;
    -webkit-transform: translate3d(0,-50px,0);
            transform: translate3d(0,-50px,0);
}
.about-team__image img {
    max-width: 100%;
}
.about-team__image-overlay {
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.about-team__person {
    position: absolute;
    max-width: 300px;
}
.about-team__person--left-top {
    top: 10%;
    left: 0;
}
.about-team__person--left-center {
    top: 52%;
    left: 0;
}
.about-team__person--right-center {
    top: 30%;
    right: 0;
    max-width: 240px;
}
.about-team__person--right-bottom {
    right: 15%;
    bottom: 7%;
    max-width: 240px;
}
.about-team__person__name {
    margin-bottom: 10px;
    color: #39FF4A;
    font-weight: 900;
    font-size: 24px;
}
.about-team__person__desc {
    font-size: 14px;
    line-height: 1.42;
}
/* PROJECTS */
.solutions {
    padding-top: 80px;
    padding-bottom: 50px;
}
.solutions__wrapper {
    margin: 40px 8.6% 0 8.6%;
}
.solutions__intro {
    max-width: 740px;
}
.solutions__intro p {
    color: #6000FF;
    font-size: 20px;
    line-height: 1.42;
}
.solutions__card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    padding-bottom: 60px;
}
.solutions__card:last-child {}
.solutions__card:last-child:after {
    display: none;
}
.solutions__card:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 5px;
    background: -webkit-gradient(linear, right top, left top, from(#39FF4A), to(#6000FF));
    background: -webkit-linear-gradient(right, #39FF4A, #6000FF);
    background: linear-gradient(to left, #39FF4A, #6000FF);
    content: ' ';
}
.solutions__card__left {
    -webkit-flex: 0 0 270px;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
    color: #6000FF;
    -webkit-box-flex: 0;
}
.solutions__card__right {
    padding-left: 35px;
}
.solutions__card__name {
    margin-bottom: 10px;
    color: #6000FF;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.3;
}
.solutions__card__scope {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
}
.solutions__card__label {
    margin-top: 20px;
    color: #39FF4A;
    font-weight: 700;
    font-size: 16px;
}
.solutions__card__text p {
    font-size: 14px;
    line-height: 1.42;
}
.solutions__card__text a {
    color: #6000FF;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.solutions__card__text a:hover {
    color: #39FF4A;
}
.t-purple {
    color: #6000FF;
}
/* CASES */
.cases-head {
    padding-top: 250px;
    padding-bottom: 70px;
}
.cases-head__wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cases-head__content {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: 8%;
    margin-left: 8.6%;
    -webkit-box-flex: 1;
}
.cases-head__image {
    -webkit-flex: 0 0 400px;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    margin-top: 5px;
    -webkit-box-flex: 0;
}
.cases-head__image img {
    max-width: 100%;
}
.cases-head__caption {
    margin-top: 45px;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.6;
}
.cases-head__text {
    margin-top: 50px;
}
.cases-head__text p {
    font-size: 14px;
    line-height: 1.42;
}
.cases-formula {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #1F1F1F;
    color: white;
}
.cases-formula__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.cases-formula__top__content {
    -webkit-flex: 0 1 600px;
        -ms-flex: 0 1 600px;
            flex: 0 1 600px;
    -webkit-box-flex: 0;
}
.cases-formula__top__content img {
    margin-top: 60px;
    max-width: 100%;
}
.cases-formula__top__image {
    -webkit-flex: 0 0 300px;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    margin-left: auto;
    -webkit-box-flex: 0;
}
.cases-formula__top__image svg, .cases-formula__top__image img {
    max-width: 100%;
}
.cases-formula__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 120px -20px 0 -20px;
}
.cases-formula__text-col {
    -webkit-flex: 0 1 33.3%;
        -ms-flex: 0 1 33.3%;
            flex: 0 1 33.3%;
    padding: 0 20px;
    -webkit-box-flex: 0;
}
.cases-formula__text-col p {
    font-size: 14px;
    line-height: 1.42;
}
.cases-formula__text-col p span, .cases-formula__text-col p a {
    color: #39FF4A;
}
.cases-formula__text-col p a {
    border-bottom: 1px solid #39FF4A;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.cases-formula__text-col p a:hover {
    border-color: white;
    color: white;
}
@-webkit-keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    from,to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
    }
}

/*# sourceMappingURL=style.css.map */
